

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>API Implementation Basics &mdash; Mozilla Source Tree Docs 59.0a1 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../../../genindex.html"/>
        <link rel="search" title="Search" href="../../../../search.html"/>
    <link rel="top" title="Mozilla Source Tree Docs 59.0a1 documentation" href="../../../../index.html"/>
        <link rel="up" title="WebExtensions API Development" href="index.html"/>
        <link rel="next" title="API Schemas" href="schema.html"/>
        <link rel="prev" title="Background" href="background.html"/> 

  
  <script src="../../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../../index.html" class="icon icon-home"> Mozilla Source Tree Docs
          

          
          </a>

          
            
            
              <div class="version">
                59.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/base/sslerrorreport/index.html">SSL Error Reporting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/browser/index.html">Firefox</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/experiments/experiments/index.html">Telemetry Experiments</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../build/buildsystem/index.html">Build System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../dom/bindings/webidl/index.html">WebIDL</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../gfx/gfx/index.html">Graphics</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html">Firefox for Android</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html">mozbase</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach/index.html">mach</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../taskcluster/taskcluster/index.html">TaskCluster Task-Graph Generation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/geckodriver/geckodriver/index.html">geckodriver</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/marionette/marionette/index.html">Marionette</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../crashes/crash-manager/index.html">Crash Manager</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">WebExtensions API Development</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="background.html">Background</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">API Implementation Basics</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#the-api-schema">The API Schema</a></li>
<li class="toctree-l3"><a class="reference internal" href="#the-extensionapi-class">The ExtensionAPI class</a></li>
<li class="toctree-l3"><a class="reference internal" href="#built-in-apis-versus-experiments">Built-in APIs versus Experiments</a></li>
<li class="toctree-l3"><a class="reference internal" href="#adding-a-built-in-api">Adding a built-in API</a></li>
<li class="toctree-l3"><a class="reference internal" href="#webextensions-experiments">WebExtensions Experiments</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="schema.html">API Schemas</a></li>
<li class="toctree-l2"><a class="reference internal" href="functions.html">Implementing a function</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html">Implementing an event</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html">Other API Implementation Topics</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html">WebExtensions Javascript Component Reference</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../payments/docs/index.html">WebPayments UI</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../telemetry/telemetry/index.html">Telemetry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../url-classifier/url-classifier/index.html">URL Classifier</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../crashreporter/crashreporter/index.html">Crash Reporter</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/subprocess/toolkit_modules/subprocess/index.html">Supbrocess Module</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/toolkit_modules/index.html">Toolkit modules</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../mozapps/extensions/addon-manager/index.html">Add-on Manager</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/compare-locales/index.html">Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html">Linting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html#indices-and-tables">Indices and tables</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach.html">mach package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozbuild.html">mozbuild package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozlint.html">mozlint package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozpack.html">mozpack package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozversioncontrol.html">mozversioncontrol package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozwebidlcodegen.html">mozwebidlcodegen package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/taskgraph.html">taskgraph package</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../index.html">Mozilla Source Tree Docs</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="index.html">WebExtensions API Development</a> &raquo;</li>
        
      <li>API Implementation Basics</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../../_sources/toolkit/components/extensions/webextensions/basics.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="api-implementation-basics">
<span id="basics"></span><h1>API Implementation Basics<a class="headerlink" href="#api-implementation-basics" title="Permalink to this headline">¶</a></h1>
<p>This page describes some of the pieces involved when creating
WebExtension APIs.  Detailed documentation about how these pieces work
together to build specific features is in the next section.</p>
<div class="section" id="the-api-schema">
<h2>The API Schema<a class="headerlink" href="#the-api-schema" title="Permalink to this headline">¶</a></h2>
<p>As described previously, a WebExtension runs in a sandboxed environment
but the implementation of a WebExtension API runs with full chrome
privileges.  API implementations do not directly interact with
extensions’ Javascript environments, that is handled by the WebExtensions
framework.  Each API includes a schema that describes all the functions,
events, and other properties that the API might inject into an
extension’s Javascript environment.
Among other things, the schema specifies the namespace into which
an API should be injected, what permissions (if any) are required to
use it, and in which contexts (e.g., extension pages, content scripts, etc)
it should be available.  The WebExtensions framework reads this schema
and takes care of injecting the right objects into each extension
Javascript environment.</p>
<p>API schemas are written in JSON and are based on
<a class="reference external" href="http://json-schema.org/">JSON Schema</a> with some extensions to describe
API functions and events.
The next section describes the format of the schema in detail.</p>
</div>
<div class="section" id="the-extensionapi-class">
<h2>The ExtensionAPI class<a class="headerlink" href="#the-extensionapi-class" title="Permalink to this headline">¶</a></h2>
<p>Every WebExtension API is represented by an instance of the Javascript
<a class="reference external" href="reference.html#extensionapi-class">ExtensionAPI</a> class.
An instance of its API class is created every time an extension that has
access to the API is enabled.  Instances of this class contain the
implementations of functions and events that are exposed to extensions,
and they also contain code for handling manifest keys as well as other
part of the extension lifecycle (e.g., updates, uninstalls, etc.)
The details of this class are covered in a subsequent section, for now the
important point is that this class contains all the actual code that
backs a particular WebExtension API.</p>
</div>
<div class="section" id="built-in-apis-versus-experiments">
<h2>Built-in APIs versus Experiments<a class="headerlink" href="#built-in-apis-versus-experiments" title="Permalink to this headline">¶</a></h2>
<p>A WebExtension API can be built directly into the browser or it can be
contained in a special type of extension called a “WebExtension Experiment”.
The API schema and the ExtensionAPI class are written in the same way
regardless of how the API will be delivered, the rest of this section
explains how to package a new API using these methods.</p>
</div>
<div class="section" id="adding-a-built-in-api">
<h2>Adding a built-in API<a class="headerlink" href="#adding-a-built-in-api" title="Permalink to this headline">¶</a></h2>
<p>Built-in WebExtension APIs are loaded lazily.  That is, the schema and
accompanying code are not actually loaded and interpreted until an
extension that uses the API is activated.
To actually register the API with the WebExtensions framework, an entry
must be added to the list of WebExtensions modules in one of the following
files:</p>
<ul class="simple">
<li><code class="docutils literal"><span class="pre">toolkit/components/extensions/ext-toolkit.json</span></code></li>
<li><code class="docutils literal"><span class="pre">browser/components/extensions/ext-browser.json</span></code></li>
<li><code class="docutils literal"><span class="pre">mobile/android/components/extensions/ext-android.js</span></code>
(<em>ugh android</em>)</li>
</ul>
<p>Here is a sample fragment for a new API:</p>
<div class="highlight-js"><div class="highlight"><pre><span></span><span class="s2">&quot;myapi&quot;</span><span class="o">:</span> <span class="p">{</span>
  <span class="s2">&quot;schema&quot;</span><span class="o">:</span> <span class="s2">&quot;chrome://extensions/content/schemas/myapi.json&quot;</span><span class="p">,</span>
  <span class="s2">&quot;url&quot;</span><span class="o">:</span> <span class="s2">&quot;chrome://extensions/content/ext-myapi.js&quot;</span><span class="p">,</span>
  <span class="s2">&quot;paths&quot;</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">[</span><span class="s2">&quot;myapi&quot;</span><span class="p">],</span>
    <span class="p">[</span><span class="s2">&quot;anothernamespace&quot;</span><span class="p">,</span> <span class="s2">&quot;subproperty&quot;</span><span class="p">]</span>
  <span class="p">],</span>
  <span class="s2">&quot;scopes&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;addon_parent&quot;</span><span class="p">],</span>
  <span class="s2">&quot;permissions&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;myapi&quot;</span><span class="p">],</span>
  <span class="s2">&quot;manifest&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;myapi_key&quot;</span><span class="p">],</span>
  <span class="s2">&quot;events&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;update&quot;</span><span class="p">,</span> <span class="s2">&quot;uninstall&quot;</span><span class="p">]</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The <code class="docutils literal"><span class="pre">schema</span></code> and <code class="docutils literal"><span class="pre">url</span></code> properties are simply URLs for the API schema
and the code implementing the API.  The <code class="docutils literal"><span class="pre">chrome:</span></code> URLs in the example above
are typically created by adding entries to <code class="docutils literal"><span class="pre">jar.mn</span></code> in the mozilla-central
directory where the API implementation is kept.  The standard locations for
API implementations are:</p>
<ul class="simple">
<li><code class="docutils literal"><span class="pre">toolkit/components/extensions</span></code>: This is where APIs that work in both
the desktop and mobile versions of Firefox (as well as potentially any
other applications built on Gecko) should go</li>
<li><code class="docutils literal"><span class="pre">browser/components/extensions</span></code>: APIs that are only supported on
Firefox for the desktop.</li>
<li><code class="docutils literal"><span class="pre">mobile/android/components/extensions</span></code>: APIs that are only supported
on Firefox for Android.</li>
</ul>
<p>Within the appropriate extensions directory, the convention is that the
API schema is in a file called <code class="docutils literal"><span class="pre">schemas/name.json</span></code> (where <em>name</em> is
the name of the extension, typically the same as its namespace if it has
Javascript visible features).  The code for the ExtensionAPI class is put
in a file called <code class="docutils literal"><span class="pre">ext-name.js</span></code>.  If the API has code that runs in a
child process, that is conventionally put in a file called <code class="docutils literal"><span class="pre">ext-c-name.js</span></code>.</p>
<p>The remaining properties specify when an API should be loaded.
The <code class="docutils literal"><span class="pre">paths</span></code>, <code class="docutils literal"><span class="pre">scopes</span></code>, and <code class="docutils literal"><span class="pre">permissions</span></code> properties together
cause an API to be loaded when Javascript code in an extension references
something beneath the <code class="docutils literal"><span class="pre">browser</span></code> global object that is part of the API.
The <code class="docutils literal"><span class="pre">paths</span></code> property is an array of paths where each individual path is
also an array of property names.  In the example above, the sample API will
be loaded if an extension references either <code class="docutils literal"><span class="pre">browser.myapi</span></code> or
<code class="docutils literal"><span class="pre">browser.anothernamespace.subproperty</span></code>.</p>
<p>A reference to a property beneath <code class="docutils literal"><span class="pre">browser</span></code> only causes the API to be
loaded if it occurs within a scope listed in the <code class="docutils literal"><span class="pre">scopes</span></code> property.
Valid <code class="docutils literal"><span class="pre">scopes</span></code> are:
- <code class="docutils literal"><span class="pre">&quot;addon_parent&quot;</span></code>, <code class="docutils literal"><span class="pre">&quot;addon_child</span></code>: Extension pages
- <code class="docutils literal"><span class="pre">&quot;content_parent&quot;</span></code>, <code class="docutils literal"><span class="pre">&quot;content_child</span></code>: Content scripts
- <code class="docutils literal"><span class="pre">&quot;devtools_parent&quot;</span></code>, <code class="docutils literal"><span class="pre">&quot;devtools_child&quot;</span></code>: Devtools pages
The distinction between the <code class="docutils literal"><span class="pre">_parent</span></code> and <code class="docutils literal"><span class="pre">_child</span></code> scopes will be
explained in the following section.</p>
<p>A reference to a property only causes the API to be loaded if the
extension referencing the property also has all the permissions listed
in the <code class="docutils literal"><span class="pre">permissions</span></code> property.</p>
<p>A WebExtension API that is controlled by a manifest key can also be loaded
when an extension that includes the relevant manifest key is activated.
This is specified by the <code class="docutils literal"><span class="pre">manifest</span></code> property, which lists any manifest keys
that should cause the API to be loaded.</p>
<p>Finally, APIs can be loaded based on other events in the WebExtension
lifecycle.  These are listed in the <code class="docutils literal"><span class="pre">events</span></code> property.
(<a href="#id1"><span class="problematic" id="id2">*</span></a>explain more here <a href="#id3"><span class="problematic" id="id4">*</span></a>)</p>
</div>
<div class="section" id="webextensions-experiments">
<h2>WebExtensions Experiments<a class="headerlink" href="#webextensions-experiments" title="Permalink to this headline">¶</a></h2>
<p>(<em>This section left blank pending some coming experiments changes</em>)</p>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="schema.html" class="btn btn-neutral float-right" title="API Schemas" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="background.html" class="btn btn-neutral" title="Background" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright .

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../../',
            VERSION:'59.0a1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>