

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Implementing an event &mdash; Mozilla Source Tree Docs 59.0a1 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../../../genindex.html"/>
        <link rel="search" title="Search" href="../../../../search.html"/>
    <link rel="top" title="Mozilla Source Tree Docs 59.0a1 documentation" href="../../../../index.html"/> 

  
  <script src="../../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../../index.html" class="icon icon-home"> Mozilla Source Tree Docs
          

          
          </a>

          
            
            
              <div class="version">
                59.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/base/sslerrorreport/index.html">SSL Error Reporting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/browser/index.html">Firefox</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/experiments/experiments/index.html">Telemetry Experiments</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../build/buildsystem/index.html">Build System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../dom/bindings/webidl/index.html">WebIDL</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../gfx/gfx/index.html">Graphics</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html">Firefox for Android</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html">mozbase</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach/index.html">mach</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../taskcluster/taskcluster/index.html">TaskCluster Task-Graph Generation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/geckodriver/geckodriver/index.html">geckodriver</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/marionette/marionette/index.html">Marionette</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../crashes/crash-manager/index.html">Crash Manager</a></li>
<li class="toctree-l1"><a class="reference internal" href="index.html">WebExtensions API Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../payments/docs/index.html">WebPayments UI</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../telemetry/telemetry/index.html">Telemetry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../url-classifier/url-classifier/index.html">URL Classifier</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../crashreporter/crashreporter/index.html">Crash Reporter</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/subprocess/toolkit_modules/subprocess/index.html">Supbrocess Module</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/toolkit_modules/index.html">Toolkit modules</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../mozapps/extensions/addon-manager/index.html">Add-on Manager</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/compare-locales/index.html">Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html">Linting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html#indices-and-tables">Indices and tables</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach.html">mach package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozbuild.html">mozbuild package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozlint.html">mozlint package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozpack.html">mozpack package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozversioncontrol.html">mozversioncontrol package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozwebidlcodegen.html">mozwebidlcodegen package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/taskgraph.html">taskgraph package</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../index.html">Mozilla Source Tree Docs</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../index.html">Docs</a> &raquo;</li>
        
      <li>Implementing an event</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../../_sources/toolkit/components/extensions/webextensions/event.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="implementing-an-event">
<h1>Implementing an event<a class="headerlink" href="#implementing-an-event" title="Permalink to this headline">¶</a></h1>
<p>Like a function, an event requires a definition in the schema and
an implementation in Javascript inside an instance of ExtensionAPI.</p>
<div class="section" id="declaring-an-event-in-the-api-schema">
<h2>Declaring an event in the API schema<a class="headerlink" href="#declaring-an-event-in-the-api-schema" title="Permalink to this headline">¶</a></h2>
<p>The definition for a simple event looks like this:</p>
<div class="highlight-json"><div class="highlight"><pre><span></span>[
  {
    &quot;namespace&quot;: &quot;myapi&quot;,
    &quot;events&quot;: [
      {
        &quot;name&quot;: &quot;onSomething&quot;,
        &quot;description&quot;: &quot;Description of the event&quot;,
        &quot;parameters&quot;: [
          {
            &quot;name&quot;: &quot;param1&quot;,
            &quot;description&quot;: Description of the first callback parameter&quot;,
            &quot;type&quot;: &quot;number&quot;
          }
        ]
      }
    ]
  }
]
</pre></div>
</div>
<p>XXX parameters declares parameters passed to the listener</p>
</div>
<div class="section" id="implementing-an-event-in-the-main-process">
<h2>Implementing an event in the main process<a class="headerlink" href="#implementing-an-event-in-the-main-process" title="Permalink to this headline">¶</a></h2>
<p>XXX explain that everything gets proxied to the child process automatically</p>
<p>XXX explain EventManager, show sample code</p>
</div>
<div class="section" id="implementing-an-event-in-the-child-process">
<h2>Implementing an event in the child process<a class="headerlink" href="#implementing-an-event-in-the-child-process" title="Permalink to this headline">¶</a></h2>
<p>XXX not much to say here?</p>
</div>
<div class="section" id="handling-extra-arguments-to-addlistener">
<h2>Handling extra arguments to addListener()<a class="headerlink" href="#handling-extra-arguments-to-addlistener" title="Permalink to this headline">¶</a></h2>
<p>XXX explain, show some sample code</p>
</div>
<div class="section" id="handling-listener-return-values">
<h2>Handling listener return values<a class="headerlink" href="#handling-listener-return-values" title="Permalink to this headline">¶</a></h2>
<p>XXX explain, show some sample code</p>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright .

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../../',
            VERSION:'59.0a1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>