

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>WebExtensions API Development &mdash; Mozilla Source Tree Docs 59.0a1 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../../../../genindex.html"/>
        <link rel="search" title="Search" href="../../../../search.html"/>
    <link rel="top" title="Mozilla Source Tree Docs 59.0a1 documentation" href="../../../../index.html"/>
        <link rel="next" title="Background" href="background.html"/>
        <link rel="prev" title="Crash Events" href="../../crashes/crash-manager/crash-events.html"/> 

  
  <script src="../../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../../index.html" class="icon icon-home"> Mozilla Source Tree Docs
          

          
          </a>

          
            
            
              <div class="version">
                59.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/base/sslerrorreport/index.html">SSL Error Reporting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/browser/index.html">Firefox</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../browser/experiments/experiments/index.html">Telemetry Experiments</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../build/buildsystem/index.html">Build System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../dom/bindings/webidl/index.html">WebIDL</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../gfx/gfx/index.html">Graphics</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html">Firefox for Android</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mobile/android/fennec/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html">mozbase</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../mozbase/index.html#indices-and-tables">Indices and tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach/index.html">mach</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../taskcluster/taskcluster/index.html">TaskCluster Task-Graph Generation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/geckodriver/geckodriver/index.html">geckodriver</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../testing/marionette/marionette/index.html">Marionette</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../crashes/crash-manager/index.html">Crash Manager</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">WebExtensions API Development</a><ul>
<li class="toctree-l2"><a class="reference internal" href="background.html">Background</a></li>
<li class="toctree-l2"><a class="reference internal" href="basics.html">API Implementation Basics</a></li>
<li class="toctree-l2"><a class="reference internal" href="schema.html">API Schemas</a></li>
<li class="toctree-l2"><a class="reference internal" href="functions.html">Implementing a function</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html">Implementing an event</a></li>
<li class="toctree-l2"><a class="reference internal" href="manifest.html">Implementing a manifest property</a></li>
<li class="toctree-l2"><a class="reference internal" href="lifecycle.html">Managing the Extension Lifecycle</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html">Utilities for implementing APIs</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html">WebExtensions Javascript Component Reference</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../payments/docs/index.html">WebPayments UI</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../telemetry/telemetry/index.html">Telemetry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../url-classifier/url-classifier/index.html">URL Classifier</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../crashreporter/crashreporter/index.html">Crash Reporter</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/subprocess/toolkit_modules/subprocess/index.html">Supbrocess Module</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modules/toolkit_modules/index.html">Toolkit modules</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../mozapps/extensions/addon-manager/index.html">Add-on Manager</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/compare-locales/index.html">Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html">Linting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../tools/lint/index.html#indices-and-tables">Indices and tables</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mach.html">mach package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozbuild.html">mozbuild package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozlint.html">mozlint package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozpack.html">mozpack package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozversioncontrol.html">mozversioncontrol package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/mozwebidlcodegen.html">mozwebidlcodegen package</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../python/taskgraph.html">taskgraph package</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../index.html">Mozilla Source Tree Docs</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../index.html">Docs</a> &raquo;</li>
        
      <li>WebExtensions API Development</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../../_sources/toolkit/components/extensions/webextensions/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="webextensions-api-development">
<h1>WebExtensions API Development<a class="headerlink" href="#webextensions-api-development" title="Permalink to this headline">¶</a></h1>
<p>This documentation covers the implementation of WebExtensions inside Firefox.
Documentation about existing WebExtension APIs and how to use them
to develop WebExtensions is available
<a class="reference external" href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions">on MDN</a>.</p>
<p>To use this documentation, you should already be familiar with
WebExtensions, including
<a class="reference external" href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Anatomy_of_a_WebExtension">the anatomy of a WebExtension</a>
and <a class="reference external" href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/permissions">permissions</a>.
You should also be familiar with concepts from
<a class="reference external" href="https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide">Firefox development</a>
including <a class="reference external" href="https://developer.mozilla.org/en-US/Firefox/Multiprocess_Firefox">e10s</a>
in particular.</p>
<div class="toctree-wrapper compound">
<p class="caption"><span class="caption-text">WebExtension API Developers Guide</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="background.html">Background</a><ul>
<li class="toctree-l2"><a class="reference internal" href="background.html#javascript-apis">Javascript APIs</a></li>
<li class="toctree-l2"><a class="reference internal" href="background.html#manifest-keys">Manifest Keys</a></li>
<li class="toctree-l2"><a class="reference internal" href="background.html#other-considerations">Other Considerations</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="basics.html">API Implementation Basics</a><ul>
<li class="toctree-l2"><a class="reference internal" href="basics.html#the-api-schema">The API Schema</a></li>
<li class="toctree-l2"><a class="reference internal" href="basics.html#the-extensionapi-class">The ExtensionAPI class</a></li>
<li class="toctree-l2"><a class="reference internal" href="basics.html#built-in-apis-versus-experiments">Built-in APIs versus Experiments</a></li>
<li class="toctree-l2"><a class="reference internal" href="basics.html#adding-a-built-in-api">Adding a built-in API</a></li>
<li class="toctree-l2"><a class="reference internal" href="basics.html#webextensions-experiments">WebExtensions Experiments</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="schema.html">API Schemas</a><ul>
<li class="toctree-l2"><a class="reference internal" href="schema.html#implementing-a-fixed-javascript-property">Implementing a fixed Javascript property</a></li>
<li class="toctree-l2"><a class="reference internal" href="schema.html#schema-items">Schema Items</a></li>
<li class="toctree-l2"><a class="reference internal" href="schema.html#describing-constrained-values">Describing constrained values</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="functions.html">Implementing a function</a><ul>
<li class="toctree-l2"><a class="reference internal" href="functions.html#declaring-a-function-in-the-api-schema">Declaring a function in the API schema</a></li>
<li class="toctree-l2"><a class="reference internal" href="functions.html#implementing-a-function-in-the-main-process">Implementing a function in the main process</a></li>
<li class="toctree-l2"><a class="reference internal" href="functions.html#implementing-a-function-in-a-child-process">Implementing a function in a child process</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="events.html">Implementing an event</a><ul>
<li class="toctree-l2"><a class="reference internal" href="events.html#declaring-an-event-in-the-api-schema">Declaring an event in the API schema</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html#id1">Implementing an event</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html#handling-extra-arguments-to-addlistener">Handling extra arguments to addListener()</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html#handling-listener-return-values">Handling listener return values</a></li>
<li class="toctree-l2"><a class="reference internal" href="events.html#implementing-an-event-in-the-child-process">Implementing an event in the child process</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="manifest.html">Implementing a manifest property</a></li>
<li class="toctree-l1"><a class="reference internal" href="lifecycle.html">Managing the Extension Lifecycle</a><ul>
<li class="toctree-l2"><a class="reference internal" href="lifecycle.html#extension-shutdown">Extension Shutdown</a></li>
<li class="toctree-l2"><a class="reference internal" href="lifecycle.html#extension-uninstall">Extension Uninstall</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="other.html">Utilities for implementing APIs</a><ul>
<li class="toctree-l2"><a class="reference internal" href="other.html#windowmanager">WindowManager</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html#tabmanager">TabManager</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html#extensionsettingsstore">ExtensionSettingsStore</a></li>
<li class="toctree-l2"><a class="reference internal" href="other.html#extensionpreferencesmanager">ExtensionPreferencesManager</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="reference.html">WebExtensions Javascript Component Reference</a><ul>
<li class="toctree-l2"><a class="reference internal" href="reference.html#extensionapi-class">ExtensionAPI class</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html#extension-class">Extension class</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html#eventmanager-class">EventManager class</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html#basecontext-class">BaseContext class</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html#windowmanager-class">WindowManager class</a></li>
<li class="toctree-l2"><a class="reference internal" href="reference.html#tabmanager-class">TabManager class</a></li>
</ul>
</li>
</ul>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="background.html" class="btn btn-neutral float-right" title="Background" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../../crashes/crash-manager/crash-events.html" class="btn btn-neutral" title="Crash Events" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright .

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../../',
            VERSION:'59.0a1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>